# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
Corrijo gitignore
# dependencies
/app/frontend/node_modules/
/.pnp
.pnp.js
/backend/venv
# testing
/coverage
/app/frontend/node_modules/
/node_modules/
# production
/build
/app/frontend/src/assets/music
/node_modules/


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
frontend/src/.env
.venv
/backend/.venv
/backend/venv
/backend/api/uploads